@import url("../fonts/poppins.css");

:root {
    --bs-body-font-family: 'Cairo', sans-serif;
}

html[dir="rtl"] {
    font-family: 'Cairo', sans-serif;
    letter-spacing: 0 !important;
}


    html[dir="rtl"] body {
        font-family: "Cairo", sans-serif !important;
        letter-spacing: 0 !important;
    }

h2, h1, h3, h4, h5 {
    letter-spacing: 0 !important;
}
